@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 font-weight-bolder">All Employee Details</h1>
</div>
<hr />
<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Designation</th>
                <th>Salary</th>
            </tr>
        </thead>
        <tbody id="table_employee">
            <tr>
                <td colspan="3" align="center">No Employee information</td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="~/js/site.js"></script>

    <script>
        $(document).ready(function () {
            displayAllEmployees(false);
        });
    </script>
}